[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
sanic = "*"
"psycopg2-binary" = "*"

[dev-packages]
isort = "*"
"flake8" = "*"
pylint = "*"
pytest = "*"
pytest-sanic = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
