[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
"psycopg2-binary" = "*"
aioredis = "*"
social-auth-core = "*"
sanic-jwt = "*"
sanic-cors = "*"
social-auth-app-flask-peewee = "*"
social-storage-peewee = {git = "https://github.com/unmade/social-storage-peewee.git"}
marshmallow = "*"
sanic = "*"
cython = "*"

[dev-packages]
isort = "*"
"flake8" = "*"
pylint = "*"
pytest = "*"
pytest-sanic = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
