[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
fastapi = "*"
google-auth = "*"
sentry-sdk = "*"
sentry-asgi = "*"
requests = "*"

[dev-packages]
mypy = "*"
pre-commit = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-faker = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
